<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register</title>
</head>
<body>
<div class="container mt-5">
    <a href="#" th:href="@{/index}"><button type="button">Welcome page</button></a>
    <h1>Hello on our website</h1>
    <a href="#" th:href="@{/showFood}"><button type="button">Show Food</button></a>
    <a href="#" th:href="@{/showPageToAddFood}"><button type="button">Add new food</button></a>
    <a href="#" th:href="@{/index}"><button type="button">Make new order</button></a>
</div>
</body>
</html>