<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add food</title>
    <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<div id="container">
    <a href="#" th:href="@{/index}"><button type="button">Welcome page</button></a>
    <h1>Add food to the database</h1>
    <form method="post" action="/addFood" th:object="${inputFoodDto}">
        <label>
            name
            <input th:field="*{name}" type="text" placeholder="name">
        </label>
        <label>
            description
            <input th:field="*{description}" type="text" placeholder="description">
        </label>
        <label>
            price
            <input th:field="*{price}" type="text" placeholder="price">
        </label>
        <button type="submit">Add food</button>
    </form>
</div>
</body>
</html>
